html,
body {
    background-color: #000002;
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
}

.main {
    width: 100%;
    display: flex;
    align-items: center;
}

.masthead {
    margin-bottom: 2rem;
}

.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}
.row{
    margin-top: 2em;
}